/*Start Global Rulez*/
*{
    font-size: 11px;
    text-align: center;
    margin: 0;
    padding: 0;
}
:root {
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%)
   
    --line #2f415b;
    --with: hsl(0, 0%, 100%);
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-BG);
}
a {
    color: hsl(228, 45%, 44%);
}
/*End Global Rulez*/
/*Start desgin*/
.container {
    width: 270px;
    height: 420px;
    margin: auto;
    margin-top: 10%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 20px 0;
   box-shadow: -9px 20px 20px 10px hsl(217deg 45% 2%); 
}
.container .photo {
    max-width: 100%;
    border-radius: 6px;
    width: 235px;
    position: relative;
}
.container .image {
    position: relative;
}
.container  .image:hover:after{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 99%;
    width: 233px;
    background-color: aqua;
    opacity: 0.5;
    border-radius: 6px;
    margin-left: 19px;
}
.container .image .view {
    width: 35px;
    position: absolute;
    top: 45%;
    left: 43%;
    display: none;
}
.container  .image:hover .view {
    display: block;
}
.container .photo:hover {
    background-color: aqua;
}
.container h2:first-of-type {
    color: white;
    font-size: 17px;
    padding-right: -10px;
    margin-left: -85px;
    padding-top: 10px;
}
.container h2:first-of-type:hover {
    color: aqua;
}
.container .firstP {
    font-size: 14px;
    color: #777;
    text-align: initial;
    margin-left: 23px;
    margin-top: revert;
}
.container .text {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 20px;
}
.container .text .icon {
    width: 9px;
    padding-right: 3px;
}
.container .text .num .first {
    color: #40e0d0;
    font-size: 12px;
    font-weight: bold;
    padding-left: 2px;
}
.container .text .send {
    position: relative;
    color: #777;
}
.container .text .send .clock {
    width: 13px;
    padding-right: 3px;
    
}
.container .text .send .secnd {
    font-size: 12px;
}
.container .line {
      width: 240px;
    height: 1px;
    margin-top: 12px;
    margin-left: 12px;
    background-color: #777;
}
.footer {
    position: relative;
} 
.container .footer .avtar {
    width: 30px;
    border: 1px white solid;
    border-radius: 20px;
    margin-left: -215px;
    margin-top: 15px;
}
.container .footer .creat {
    margin-left: -105px;
    margin-top: -25px;
    color: #7f9ac1;
    font-size: 12px;
}
.container .footer a {
    margin-left: 35px;
    text-decoration: none;
    position: absolute;
    top: 62%;
    left: 30%;
    font-size: 12px;
    color: white;
}
.container .footer a:hover {
    color: aqua;
}
/*End desgin*/
